@charset "utf-8";

/* 내용관리 */
#ctt {margin:10px 0;padding:20px;}
.ctt_admin {text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {padding:10px 0;line-height:1.6em}
#ctt_con img{max-width:100%;height:auto}
.ctt_img {text-align:center}

#noticeMenu {
    margin-bottom: 70px;
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#noticeMenu a {
    margin-right: 20px;
}

#topbox{
    /* position: fixed; */
}

#conbox {
    /* padding-top: 200px; */
    height: 630px;
    overflow: auto;
}

#conbox div {
    margin-bottom: 50px;
}

#sidebox{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: -200px;
    margin-top: 200px;
}

#sidebox a {
    width: 100px;
    margin-bottom: 20px;
}

#tag1:hover {
    box-shadow: 0px 15px 10px -15px #a47c0b inset;
}

#tag2:hover {
    box-shadow: 0px 15px 10px -15px #a47c0b inset;
}

#tag3:hover {
    box-shadow: 0px 15px 10px -15px #a47c0b inset;
}